body {
  text-align: center;
}

.inputCard {
  padding: 0.5rem;
  padding: 25px 5px 25px 2px;
  border: solid black;
  border-radius: 0.5rem;
}

.floorInput {
  padding: 0.25rem;
  margin: 0.5rem;
}

.liftInput {
  padding: 0.25rem;
  margin: 0.5rem;
}
